mixin img-btn(className, id, width, height, svgName, ariaLabel)
  button.img-btn(class=className id=id)
    +sprite(width, height, svgName)

mixin chat-btn(className, id, text)
  button(class=className id=id) #{text}

mixin chat-load-btn(width, height, svgName, ariaLabel, accept)
  label.chat__file-input
    input(type="file" name="file" ariaLabel=aria-label accept=accept)
    span.chat__file-btn
      +sprite(width, height, svgName)
