- const languages = ["RU", "EN", "TUR"]

footer.main-footer
  .container
    .main-footer__wrapper
      .main-footer__info-wrapper
        a.main-footer__logo(href="index.html" aria-label=`Переход на главную страницу сайта ${title}`)
          +sprite(219, 32, 'logo-grey')
        span.main-footer__copyright Политика конфиденциальности
      .main-footer__contacts
        a.main-footer__email(href="mailto:pinkchicken@adaurum.ru" aria-label=`Написать email на электронную почту компании ${title}`)
          +sprite(24, 24, "icon-email")
          span pinkchicken@adaurum.ru
        .main-footer__languages
          +sprite(24, 24, "icon-language")
          ul.main-footer__languages-list
            li.main-footer__languages-item.is-active= "RU"
            li.main-footer__languages-item= "EN"
            li.main-footer__languages-item= "TUR"
        ul.main-footer__social
          li.social__item
            a.social__link.social__link--whatsapp(href="#" aria-label=`Страница компании ${title} в Telegram.` target="_blank")
              img(src="img/svg/icon-telegram.svg" width="40" height="40")
          li.social__item
            a.social__link.social__link--whatsapp(href="#" aria-label=`Страница компании ${title} в WhatsApp.` target="_blank")
              +sprite(40, 40, "icon-whatsapp")
